
<div class="my-5 container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>404 NOT FOUND</h1>
        </div>
    </div>
</div>

<div class="centerPA">
<!-- partial:index.partial.html -->
<div id='pikachu'></div>
<div id='ash'></div>
<!-- partial -->
</div>

<div class="my-5 container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <span class="btn btn-outline-secondary" (click)='goBack()'>Return</span>
        </div>
    </div>
</div>