@import url('../pokemon-inicio/pokemon-inicio.component.css');

.back {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.backbtn {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.card-body{
border-color: var(--bg-color);
border-style: solid;
}
.centrar{
    text-align: -webkit-center;
}
.stats{
    background-color: var(--bg-color);
    border-radius: 10%;
    width: 50%;
    text-align: center;
    color: var(--text-color);
}