<form (ngSubmit)="handleSearch(form.value , form.valid)" #form="ngForm" novalidate>
    
    <div class="input-group rounded my-5">

        <input type="text" class="form-control rounded" 
        name='search'
        required
        #search='ngModel'
        [ngModel]='name'
        placeholder="Buscar pokemon" 
        aria-label="Search"
            aria-describedby="search-addon" />

        <button class="input-group-text btn btn btn-outline-secondary" type="submit">
            Buscar
        </button>
        <button [disabled]='reseteo == false' class="input-group-text btn btn btn-outline-danger" (click)='resetear()'>
            Reset
        </button>

    </div>
    
</form>