<div class="mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4" 
    *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 3, currentPage: page, totalItems: totalPokemons }">
      <!-- card -->
      <div [class]="tipos">
      <div class="contenedor my-4">
        <div class="card">
          <div class="imgBx">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default">
          </div>
          <div class="contentBx">
            <h2>{{pokemon.name | uppercase}}</h2>
            <modal-view 
            [pokemon]='pokemon' ></modal-view>
          </div>
        </div>
      </div>
      </div>
      <!-- card -->
    </div>
  </div>

  
</div>