      <!-- card -->
    <div [class]="pokemon.types[0].type.name">
      <div class="contenedor my-4">
        <div class="card">
          <div class="imgBx">
            <img [src]="pokemon.sprites.other['official-artwork'].front_default">
          </div>
          <div class="contentBx">
            <h2>{{pokemon.name | uppercase}}</h2>
            <modal-view 
            [pokemon]='pokemon' [tipo]='pokemon.types[0].type.name' ></modal-view>
          </div>
        </div>
      </div>
      </div>
      <!-- card -->
   