.btn-align-right{
    text-align: right;
}


.contenedor{
    text-align: -webkit-center;
}

.grass {
  --bg-color: #2a9d8f;
}

.fire {
  --bg-color: #e76f51;
}

.ghost {
  --bg-color: #003049;
}

.steel {
  --bg-color: #8d99ae;
}

.water {
  --bg-color: #00b4d8;
}

.normal {
  --bg-color: #cb997e;
}

.dragon {
  --bg-color: #6930c3;
}

.electric {
  --bg-color: #ffc300;
}

.rock {
  --bg-color: #99582a;
}

.bug {
  --bg-color: #588157;
}

.poison {
  --bg-color: #a06cd5;
}

.ground {
  --bg-color: #99582a;
}

.contenedor .card{
  position: relative;
  width: 290px;
  height: 400px;
  background: #264653;
  border-radius: 20px;
  overflow: hidden;
}

.contenedor .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.contenedor .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.contenedor .card:after{
  content: '';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,25,0.05)
}

.contenedor .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.contenedor .card:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
    
}

.contenedor .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 200px;
}

.contenedor .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.contenedor .card:hover .contentBx{
  height: 160px;
}

.contenedor .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}


.contenedor .card .contentBx modal-view{
  display: inline-block;
  padding: 10px 20px;
  background: var(--bg-color);
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 45px;
  cursor: pointer;
}

.contenedor .card:hover .contentBx modal-view{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

